CompetitionInvitesWCF/Connected Services/CompetitionService/CompetitionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompetitionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51140/CompetitionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51140/CompetitionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51140/CompetitionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CompetitionInvitesWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompetitionService_findAllStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:findAllStudent" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findAllStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:findStudentId" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:findStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findAllAttend_InputMessage">
    <wsdl:part name="parameters" element="tns:findAllAttend" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findAllAttend_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllAttendResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findAttendId_InputMessage">
    <wsdl:part name="parameters" element="tns:findAttendId" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_findAttendId_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAttendIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_InsertIntoDB_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoDB" />
  </wsdl:message>
  <wsdl:message name="ICompetitionService_InsertIntoDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompetitionService">
    <wsdl:operation name="findAllStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetitionService/findAllStudent" message="tns:ICompetitionService_findAllStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetitionService/findAllStudentResponse" message="tns:ICompetitionService_findAllStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetitionService/findStudentId" message="tns:ICompetitionService_findStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetitionService/findStudentIdResponse" message="tns:ICompetitionService_findStudentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAllAttend">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetitionService/findAllAttend" message="tns:ICompetitionService_findAllAttend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetitionService/findAllAttendResponse" message="tns:ICompetitionService_findAllAttend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAttendId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetitionService/findAttendId" message="tns:ICompetitionService_findAttendId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetitionService/findAttendIdResponse" message="tns:ICompetitionService_findAttendId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompetitionService/InsertIntoDB" message="tns:ICompetitionService_InsertIntoDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompetitionService/InsertIntoDBResponse" message="tns:ICompetitionService_InsertIntoDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompetitionService" type="tns:ICompetitionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAllStudent">
      <soap:operation soapAction="http://tempuri.org/ICompetitionService/findAllStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findStudentId">
      <soap:operation soapAction="http://tempuri.org/ICompetitionService/findStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllAttend">
      <soap:operation soapAction="http://tempuri.org/ICompetitionService/findAllAttend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAttendId">
      <soap:operation soapAction="http://tempuri.org/ICompetitionService/findAttendId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDB">
      <soap:operation soapAction="http://tempuri.org/ICompetitionService/InsertIntoDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompetitionService">
    <wsdl:port name="BasicHttpBinding_ICompetitionService" binding="tns:BasicHttpBinding_ICompetitionService">
      <soap:address location="http://localhost:51140/CompetitionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>