CompetitionInvitesWCF/Connected Services/CompetitionService/CompetitionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CompetitionInvitesWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CompetitionInvitesWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialNetworkInterest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="TechnicalInterest" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfAttend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attend" nillable="true" type="tns:Attend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttend" nillable="true" type="tns:ArrayOfAttend" />
  <xs:complexType name="Attend">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptRegret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attend" nillable="true" type="tns:Attend" />
</xs:schema>